* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.offscreen {
  position: absolute;
  top: -200px;
}

.kaleidoscope-wrapper {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  float: left;
}

/* Applying padding to this element breaks dom -> canvas coordinate conversion.*/
.kaleidoscope {
  margin: 0 auto;
}

label {
  clear: both;  
  display: block;
}  

label:nth-of-type(1n + 2) {
  margin-top: 15px;
}

.settings {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  float: left;
  margin: 5px;
  padding: 5px;
  position: relative;
  z-index: 10;  
}

.output {
  float: left;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 2px 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  float: left;
  position: relative;
  z-index: 1;
  /* Width set in js using calc, as needs to know what width the canvas has.  */
}

.gallery-item {
  list-style-type: none;
  padding: 10px;
}

.gallery-image {
  height: 200px;
  width: 200px;
}
